# Database Configuration
MSSQL_SA_PASSWORD=<MAT_KHAU_SQL_SERVER>
DB_NAME=<TEN_BANG_SQL>

# Backend Configuration
SPRING_DATASOURCE_URL=jdbc:sqlserver://database:1433;databaseName=WMS_DB;encrypt=true;trustServerCertificate=true

# Frontend Ports
FRONTEND_PORT_HTTP=80
FRONTEND_PORT_HTTPS=443
